.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;

  padding: 15px;
  border: 0.5px solid #f9f9f96e;

  .description {
    display: flex;
    align-items: center;
    flex: 1;

    a {
      color: #ddd;
    }

    .title {
      font-size: 14px;
      font-weight: bold;
      margin-right: 12px;
    }
  }
  .actions {
    display: flex;
    gap: 8px;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .input-container {
    width: 100%;
    padding-right: 1rem;
    .edit {
      padding: 0.2rem 0.5rem;
      font-size: 28px;
      margin-right: 1rem;
      width: 100%;
    }
  }
}

.date {
  padding: 8px;
  color: #ddd;
  font-size: 12px;
}
